---
/**
 * @typedef {Object} RichTextWidget
 * @property {string} content - HTML content from Apostrophe's rich text editor
 *
 * @component
 * @description Rich Text Widget Component for ApostropheCMS. Renders editable rich text content
 * within an Apostrophe area, supporting formatted text, inline styles, and basic HTML elements
 * through Apostrophe's built-in rich text editor.
 *
 * @param {RichTextWidget} props
 * @returns {astro.AstroComponent} Rendered rich text component
 */

const { widget } = Astro.props;
const { content } = widget;
---
<div class="rich-text-widget mb-6">
  <Fragment set:html={ content }></Fragment>
</div>
